.header {
    background-image: url(./images/header.jpeg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding:80px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border: 5px solid darkgreen;
    border-radius: 10px;
}

.header h1{
    color:darkgreen;
    font-size: 150px;
    font-family:'Brush Script MT', cursive;
    text-align: left;
    margin: 5px 15px;
}

.header p{
    color:darkgreen;
    font-size: 55px;
    font-family:'Brush Script MT', cursive;
    text-align: left;
    margin: 5px 20px;
}

.navbar {
    margin: 30px 30px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: darkgreen;
    border: 5px solid darkgreen;
    border-radius: 10px;
}

.navbar a{
    text-decoration: none;
    color:darkgreen;
    font-family: Arial;
    font-weight: bold;
    margin: 50px;
    transition: 0.4s ease-in-out;
}

.navbar a:hover{
    color:coral;
}

.content{
    width: 98%;
    margin: 30px;
    text-align: center;
    padding: auto;
}

.leftcontent {
    margin-top: 30px;
    width:48%;
    padding:auto;
    text-align:center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    border: 5px solid;
    float: left;
}

.centralcontent {
    margin: 30px;
    margin-left: 0px;
    text-align:center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid;
    border-radius: 15px;
    color: darkgreen;
}

.rightcontent {
    margin-top: 40px;
    width:48%;
    padding:auto;
    text-align:center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: darkgreen;
    float: right;
    border: 5px solid darkgreen;
}

.rightcontenttop {
    height:45%;
}

.image {
    background-image: url(./images/butter-chicken.jpg);
    background-size: 180px 130px;
    background-repeat: no-repeat;
    background-position: right;
    margin: 10px 60px;
    border: 2px solid darkgreen;
    padding: 45px;   
}
.rightcontentbottom {
    height:40%;
}

.button {
    width:200px;
    padding:25px;
    border:2px solid darkgreen;
    border-radius: 10px;
    margin: 5px auto;
    text-align: center;
    font-size: 30px;
    background: transparent;
    transition: 0.5s ease-in-out;
}

.button:hover {
    background-color: coral;
    cursor: pointer;
}

.header1{
    padding:30px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid darkgreen;
    border-radius: 10px;
}

.header1 h1{
    color:darkgreen;
    font-size: 80px;
    font-family:'Brush Script MT', cursive;
    text-align: center;
    margin: 5px 15px;
}

.navbar1 {
    margin: 15px 30px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    color: darkgreen;
    border: 2px solid darkgreen;
    border-radius: 10px;
}

.navbar1 a{
    text-decoration: none;
    color:darkgreen;
    font-family: Arial;
    font-weight: bold;
    margin: 30px;
    transition: 0.4s ease-in-out;
}

.navbar1 a:hover{
    color:coral;
    cursor: pointer;
}

.form {
    font-family: sans-serif;
    text-align: left;
    color:darkgreen;
    font-size: 25px;
    border: 2px darkgreen;
    border-radius: 5px;
}

.content1{
    width: 98%;
    margin: 30px;
    text-align: center;
    padding: auto;
    color:darkgreen;
}

.leftcontent1 {
    margin-top:50px;
    width:48%;
    padding:auto;
    text-align:center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid;
    border-radius: 5px;
    float: left;
}

.rightcontent1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width:48%;
    text-align:center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid;
    border-radius: 5px;
    float: right;
}

.rightcontent1 p{
    padding:2px;
    line-height: 10px;
}

.leftcontent2 {
    margin-top: 30px;
    width:46%;
    padding:auto;
    text-align:center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid darkgreen;
    border-radius: 5px;
    float: left;
}

.rightcontent2 {
    margin:30px;
    margin-top: 32px;
    width:46%;
    padding:auto;
    text-align:center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid darkgreen;
    border-radius: 5px;
    float: right;
}

#contactMessage {
    margin:20px;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
}

.form input{
    width: 92%;
    height: 25px;
    background: transparent;
    border: 1px solid darkgrey;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 5px 20px;
    font-family: sans-serif;
}


.form textarea{
    background: transparent;
    border: 1px solid darkgray;
    margin: 5px 20px;
    width: 92%;
    font-size: 15px;
}

.button1 {
    width:100px;
    padding:5px 15px;
    border:1px solid darkgray;
    border-radius: 10px;
    margin: 2px auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s ease-in-out;
}

.button1:hover {
    background-color: coral;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 20px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-left: 60px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
